.pokeImage {
  height: 15rem;
}

.draftTable {
  display: flex;
}

.draftOption {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.header {

}

.team {
  display: flex;
}

.filledSlot {
  height: 17rem;
  width: 17rem;
}

.openSlot {
  height: 17rem;
  width: 17rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
}
